/* ZERO OUT ANY USER-AGENT-ASSIGNED MARGINS, PADDINGS, ETC. */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: plum;
    --secondary: purple;
}

/* style the body element */
body {
    background: linear-gradient(0.4turn, #3f87a6, #ebf8e1, #f69d3c);
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
}

header a {
    display: block;
    border: solid 5px black;
    padding: 1vw;
    text-decoration: none;
    color: red;
    font-size: 1.5vw;
    font-family: sans-serif;  
}

header div {
    padding: 1vw;
    font-size: 1.5vw;
    font-family: sans-serif;
    display: inherit;
    justify-content: center;
}

#timer-element {
    margin-left: 3%;
    font-size: 3vw;
    text-align: center;
    min-width: 400px;
}
#id-quiz-main {
    padding: 2vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.div-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
}

.style-choice-list {
    font-size: 1.5vw;
    display: inherit;
    flex-direction: column; 
    list-style-type: none;
}

.style-choice-list-item {
    margin: 0.5vw;
    padding: 1vw;
    color: white; 
    background: var(--primary);
    font-family: sans-serif;
    border-style: none;
    border-radius: 20px;
    display: inline-block;
    width: 25%;
    position: relative;
    left: 10px;
}

footer {
    border-top: solid 3px grey;
    margin: 0px 15vw;
    display: flex;
    justify-content: center;
}

.choice-result-message {
    font-size: 2.5vw;
    font-family: sans-serif;
    display: inline-block;
    justify-content: center;
    position: relative;
}

.title-question {
    margin-bottom: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 3.0vw;
}

.quiz-paragraph {
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 1vw;
    font-weight:bolder;
    text-align: center;
}

.button-start-quiz {
    margin: 1vw auto;
    padding: 1vw;
    width: 200px;
    display: block;
    font-size: 1.3vw;
    font-weight: bolder;
    color: white;
    background-color: var(--primary);
    border-style: none;
    border-radius: 20px;
}

.end-game-save-user-info {
    margin-top: 1vw;
    padding: 1vw;
    display: flex;
    background-color: green;
    justify-content: center;
    align-content: center;
    border:solid 2px yellow;
}

.end-game-score-text {
    font-size: 2vw;
}

.end-game-input {
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    display: block;
    padding: 7px 15px;
    font-size: 24px;
    color: yellow;
    width: 100%;
}

.end-game-input-label {
    margin: 0 100px;
    border: solid 2px black;
    font-size: 2vw;
}

/***** UTILITIES *****/

.crosshair:hover{
    cursor: crosshair;
}

.hand-pointer:hover {
    cursor: pointer;
}

.background-change:hover {
    background-color: var(--secondary);
}

.no-display {
    display: none;
}

.font-red {
    color: red;
}